body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filterSearchInput {
  width: 170.5px ;
  height: 30px;
  background-color: #ffc6c6;
  margin: 0 4% 4% 4%;
  padding: 2% 2% 2% 3%;
  vertical-align: middle;
  color: #313131;
  border: none;
}

.filterSearchInputLabel {
  color: white;
  padding-left: 4%;
}

.inputButton {
  border-radius: 40px;
  border: none;
  color: darkred;
  font-weight: 600;
}

.inputButton:hover {
  background-color: black;
  color: white;
}